{% extends 'user/ccuubase.html' %}

{% block title %}
Shore-UpdateUserPassword
{% endblock %}


{% block usercss %}
<style>
.errorlist{
    color: pink;
}
</style>
{% endblock %}




{% block user_box %}

    <div class="row" style="display:flex">
        <div class="col-md-6 col-md-oddset-3" style="margin:0 auto">


            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ pf.password_old.label_tag }}
                    {{ pf.password_old }}
                </div>
                <div class="form-group">
                    {{ pf.password.label_tag }}
                    {{ pf.password }}
                </div>
                <div class="form-group">
                    {{ pf.password2.label_tag }}
                    {{ pf.password2 }}
                </div>


                {% if errors %}
                {{ errors|safe }}
                {% endif %}
                <button type="submit" class="btn btn-primary">确认修改</button>
            </form>
        </div>
    </div>
{% endblock %}