@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1713876735658') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e618";
}

.icon-xiazai:before {
  content: "\e61b";
}

.icon-huanyihuan:before {
  content: "\e6e5";
}

